<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jokes</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="/js/jokes.js"></script>
</head>
<body style="background-image: url('../assets/joke_bg.png'); background-size: cover;"> 
  <nav><a href="/">Home</a></nav>
  <div class="container">
    <h1>Random Joke</h1>
    <button  class ="button" onclick="getJoke()">Get Joke</button>
    <div id="jokeResult" class="card"></div>
  </div>
</body>
</html>
